<%= form_for user, url: create_session_path, html: {id: 'new_session', class: 'new_session'} do |f| %>
	<%= f.field :email, input: :email_field, error: false, error_message: false, id: :session_email, label: 'Adresse email' %>
	<%= f.field :password, input: :password_field, error: false, error_message: false, id: :session_password, label: 'Mot de passe' %>

	<div class="actions">
		<%= f.submit 'Connexion' %>
	</div>
<% end %>
