<div class="sub sub-theme" style="background: <%= @comment.theme.color %>">
	<div class="wrapper">
		<%= link_to '', params.key?(:panel) ? comments_path : article_path(@comment.article), class: :back %>
		<p>Commentaire</p>
	</div>
</div>
<main>
	<%= render_flash %>
	<div class="wrapper">
		<%= render 'form', comment: @comment, action: :edit %>
	</div>
</main>
