<main>
	<div class="wrapper">
		<table>
			<% @articles.each do |article| %>
				<tr>
					<td><%= link_to article.created_at, edit_article_path(@theme.id, @issue.id, article.id) %></td>
					<td class="actions">
						<%= link_to 'Supprimer', destroy_article_path(@theme.id, @issue.id, article.id) %>
					</td>
				</tr>
			<% end %>
		</table>
		<div class="actions">
			<%= link_to 'Nouvel article', new_article_path(@theme.id, @issue.id) %>
		</div>
	</div>
</main>
