<main>
	<div class="wrapper">
		<ul>
			<li><strong>Email</strong>: <%= @user.email %></li>
			<li><strong>Prénom</strong>: <%= @user.firstname %></li>
			<li><strong>Nom</strong>: <%= @user.lastname %></li>
		</ul>
	</div>
</main>
