<p id="notice"><%= notice %></p>


<div style="text-align:center;font-size:20px;"
<% @indefinitions.order("RANDOM()").each do |indefinition| %>
  <%= link_to indefinition, style: "text-decoration:none;font-family:Raleway" do %>
    <p style="color:white;"><%= indefinition.name %></p>
  <% end %>
<% end %>
</div>
