<p id="notice"><%= notice %></p>

<table>

<% @indefinitions.order("RANDOM()").each do |indefinition| %>
  <%= link_to indefinition, style: "text-decoration:none;font-family:Raleway" do %>
    <td><p style="color:white;"><%= indefinition.name %></p></td>
  <% end %>
<% end %>
</table>
