
<p id="notice"><%= notice %></p>

<h1 style="color:white;font-size:45px;"><%= @indefinition.name %></h1>

<p style="color:white;font-size:22px;margin-bottom:50px;"><%= @indefinition.description %></p>

<%= link_to 'Retour à la toile', indefinitions_path, style: "text-decoration:none;color:white;border:solid 1px;padding:10px;border-radius:25px;" %>
