// Place all the styles related to the indefinitions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@font-face
  font-family: 'Raleway'
  font-style: normal
  src: asset-url('Raleway-Regular.ttf')

body
  background-color: #081323

h1
  font-family: 'Raleway'
  text-align: center
  color: #fff
  font-size: 60px
  margin-bottom: 150px

.indef
  width: auto
  border: 1px solid white

.flex
  text-align: center
  border: 1px #081323 solid
  background-image: image-url('toile.png')
  background-repeat: no-repeat
  background-size: 80% 100%
  background-position: center center
  min-height: 1100px
  min-width: 1100px

.img
  z-index: -99
  transform-origin: center center

p.flexP
  position: relative
  z-index: 50
  font-family: 'Raleway'
  color: white
  width: auto
  font-size: 20px
  cursor: pointer

#lien
  text-decoration: none
  width: 100px
  height: 30px
  position: absolute
  margin-top: 6%
  margin-left: 16%

p#p1
  margin-left: 45%
  margin-top: 1%
  margin-right: 45%

p#p2
  position: absolute
  margin-top: 7%
  margin-left: 23%

p#p3
  position: absolute
  margin-top: 8%
  margin-left: 45%

p#p4
  position: absolute
  margin-top: 6%
  margin-left: 65%

p#p5
  position: absolute
  margin-top: 15%
  margin-left: 6%

p#p6
  position: absolute
  margin-top: 14%
  margin-left: 32%

p#p7
  position: absolute
  margin-top: 17%
  margin-left: 65%

p#p8
  position: absolute
  margin-top: 15%
  margin-left: 83%

p#p9
  position: absolute
  margin-top: 20%
  margin-left: 45%

p#p10
  position: absolute
  margin-top: 24%
  margin-left: 25%

p#p11
  position: absolute
  margin-top: 43%
  margin-left: 65%

p#p12
  position: absolute
  margin-top: 34%
  margin-left: 45%

p#p13
  position: absolute
  margin-top: 30%
  margin-left: 72%

p#p14
  position: absolute
  margin-top: 43%
  margin-left: 18%

p#p15
  position: absolute
  margin-top: 52%
  margin-left: 7%

p#p16
  position: absolute
  margin-top: 48%
  margin-left: 45%

p#p17
  position: absolute
  margin-top: 53%
  margin-left: 84%

p#p18
  position: absolute
  margin-top: 54%
  margin-left: 33%

p#p19
  position: absolute
  margin-top: 62%
  margin-left: 65%

p#p20
  position: absolute
  margin-top: 71%
  margin-left: 45%

#img1
  margin-left: 45%
  margin-top: 1%
  margin-right: 45%

#img2
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img3
  position: absolute
  margin-top: -93%
  margin-left: -26%

#img4
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img5
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img6
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img7
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img8
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img9
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img10
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img11
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img12
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img13
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img14
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img15
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img16
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img17
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img18
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img19
  position: absolute
  margin-top: -95%
  margin-left: -26%

#img20
  position: absolute
  margin-top: -95%
  margin-left: -26%
