@import partials/main
@import partials/page
@import components/tags
@import components/rowcols
@import components/labels
@import components/form

.flash
	margin-top: 60px

.issue
	padding: 50px 0
	margin-bottom: 30px
	color: $thin-brand
	font-size: 18px
	text-align: center

.timeline
	background: $thin-brand
	height: 3px
	margin: -3px 0 -30px 0
	z-index: 3
	position: relative
	display: flex
	justify-content: center
	align-items: flex-start
	> span
		margin: -5px 5px 0 5px
		cursor: pointer
		transition: 0.1s
		flex-shrink: 0
		flex-grow: 0
		> span:first-of-type
			border: 3px solid $thin-brand
			border-radius: 7px
			width: 7px
			height: 7px
			margin: 0 auto 10px auto
			display: block
			transition: 0.15s
		> span:last-of-type
			background: $brand
			padding: 5px 10px
			border-radius: 30px
			opacity: 0
			color: $white
			font-family: Helvetica, Arial, sans-serif
			font-size: 10px
			position: relative
			display: inline-block
			transform: translateY(-2px)
			transition: 0.2s
			span
				content: ''
				border: 6px solid transparent
				top: -12px
				left: 50%
				margin-left: -6px
				position: absolute
				display: block
		&:not([data-selected]) > span:first-of-type
			background: $white !important
		&[data-selected], &:hover
			> span:last-of-type
				opacity: 1
				transform: translateY(4px)
		&[data-selected]
			cursor: default

.articles
	display: flex
	align-items: flex-start
	overflow: hidden
	.article
		width: 100vw
		position: relative
		flex-shrink: 0
		flex-grow: 0
		transition: 0.5s
		.image
			min-height: 300px
			overflow: hidden
			position: relative
			.overlay
				width: 100%
				min-height: 100%
				z-index: 2
				position: absolute
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				p
					flex-shrink: 0
					padding: 0 30px
					max-width: 600px
					color: $white
					font-size: 20px
					font-weight: $regular
					text-align: center
					line-height: 30px
			img
				width: 100%
				height: auto
				top: 50%
				position: absolute
				display: block
				transform: translateY(-50%)
		.infos
			margin-top: 50px
			display: flex
			align-items: center
			justify-content: space-between
			.author
				margin-right: 40px
				display: flex
				align-items: center
				flex-shrink: 0
				flex-grow: 0
				img
					width: 50px
					height: 50px
					margin-right: 20px
					border-radius: 50px
					display: block
				span
					color: $dark-grey
		.content
			margin-top: 60px
			color: $dark-grey
			font-size: 16px
			line-height: 26px
			&::first-letter
				margin-right: 15px
				font-size: 150px
				font-weight: $thin
				float: left
				line-height: 120px
				color: $grey
				text-transform: uppercase
			p
				margin-bottom: 20px
		.comments
			.infos
				align-items: flex-start
				margin-top: 0
				img
					width: 30px
					height: 30px
					margin-right: 15px
				.date
					font-size: 10px
					font-weight: $bold
			.comment
				background: $thin-grey
				padding: 30px
				margin-bottom: 40px
				border-radius: 8px
				p
					margin-top: 20px
					line-height: 20px
				.actions
					margin-right: -15px
					margin-top: 20px
					margin-bottom: -15px
					a, span, input
						&:not(.sensible)
							background: $light-grey
							&:hover
								background: $grey
		.new_comment
			margin: 20px 0

.labels
	margin-top: 50px

.empty
	margin-top: 70px
